body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;

   margin: 0;
   padding: 0;

   background-color: @white;
   color: @black;

   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

html,
body {
   scroll-behavior: smooth;
   overflow-x: hidden;
   height: 100%;
   margin: 0;
}

@font-face {
   font-family: 'Arial';
   src: url('../fonts/ArialRegular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.logo {
   position: relative;
   left: 0px;

   display: inline-block;
   flex: 0 0 auto;
   flex-grow: 0;
   flex-shrink: 0;

   width: 79px;
   height: 66px;
   z-index: 20;

   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;

   background-image: url('../img/logo.svg');
}

.background {

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;


   &__welcome {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 537px;
      padding-top: 79px;
      padding-bottom: 70px;
      background-image: url('../img/hero.jpg');
      z-index: -1;


      .sm({
         height: 443px;
      });
}

}

.form__input {
   height: 40px;
}

.parallelogram {
   width: 480px;
   height: 223px;
   transform: skew(-22deg);
   background: #D9D9D9;
   border-radius: 25px;

   .sm({
      width: 400px;
      height: 200px;
   });

.xs({
   width: 356px;
   height: 187px;
   transform: none;
   background: #D9D9D9;
   border-radius:0px;
});
}

.hr {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -15px;
      width: 2px;
      height: 100%;
      background-color: @lightRed;
   }

   &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      width: 2px;
      height: 100%;
      background-color: @lightRed;
   }
}


@lightGrey: #818181;
@blue: #0E69AF;
@black: #000000;
@red: #D21D05;
@lightRed: #EE1B25;
@greyDark: #242424;
@white: #ffff;
@darkBlue: #00062B;
@gap: 40px;
@duration: .3s;
// background: #171717;

.red {
   color: @red;
}

.blue {
   color: @blue;
}

@import 'blocks/button';
@import 'blocks/image';
@import 'blocks/input';
@import 'blocks/nav';
@import 'blocks/section';
@import 'blocks/swiper';
@import 'base/responsiveness';
@import 'base/normalize';
@import 'base/typography';
@import 'blocks/wrapper';
@import 'blocks/article';