body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;

   margin: 0;
   padding: 0;

   background-color: @white;
   color: @black;

   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

html,
body {
   scroll-behavior: smooth;
   overflow-x: hidden;
   height: 100%;
   margin: 0;
}

@font-face {
   font-family: 'Arial';
   src: url('../fonts/ArialRegular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@lightGrey: #818181;
@blue: #0E69AF;
@black: #000000;
@red: #D21D05;
@greyDark: #242424;
@white: #ffff;
@darkBlue: #00062B;
@duration: .3s;
// background: #171717;
@import 'blocks/button';
@import 'blocks/image';
@import 'blocks/input';
@import 'blocks/nav';
@import 'blocks/section';
@import 'blocks/swiper';
@import 'base/responsiveness';
@import 'base/normalize';
@import 'base/typography';