.article {
   background: linear-gradient(180deg, #D81E05 0%, #490900 100%);
   position: relative;
   padding: 71px 15px 51px 15px;

   &__image {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      z-index: 2;
      position: relative;
      margin-left: 40px;

      img {
         width: 100%;
         height: auto;
      }
   }

   &__text {
      z-index: 1;
      padding: 101px 27px 63px 92px;
      background-image: url('../../img/article/background.png');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 680px;
      width: 100%;
      margin-right: 40px;
      transform: translate(-12%, 18%);
   }
}

.sm({
   .article {
      display: flex;
      flex-direction: column;
   }
});

.xs({
   .article__image {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 30px;
   }

   .article__text {
      left: 0;
      transform: none;
      padding: 30px;
      margin-left: 0;
   }
});