.section {
   padding-top: 50px;
   padding-bottom: 50px;
   min-width: 320px;
   box-sizing: border-box;


   &__header {
      padding-top: 42px;
      padding-bottom: 48px;
      display: flex;
      align-items: center;
      height: 122px;
   }

   &__welcome {
      position: relative;
      padding-top: 0px;
      padding-bottom: 0;

   }

   &__about {
      padding-top: 75px;
      padding-bottom: 46px;
   }

   &__service {
      padding: 41px 14px 77px 14px;

   }

   &__form {
      padding-top: 79px;
      padding-bottom: 70px;
      margin-bottom: 58px;
   }

   &__swiper {
      padding-top: 108px;
      padding-bottom: 141px;
      box-shadow: 0px 5px 10px 0px #0000001A;
   }

   &__partners {
      padding-top: 72px;
      padding-bottom: 43px;
   }

   &__footer {
      padding-top: 43px;
      padding-bottom: 75px;
   }
}