.wrapper {
   box-sizing: border-box;
   width: 100%;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;

   &__large {
      padding-right: 88px;
      padding-left: 88px;

      .sm({
         padding-right: 20px;
         padding-left: 20px;
      });
}

&__small {
   max-width: 751px;
}

// .xs({
//    padding-right: 28px;
//    padding-left: 28px;
// });
}